.property-page{
    padding: 40px 20px;
    background: linear-gradient( 
        to bottom,
        rgba(196, 206, 224, 0.925),
        rgba(148, 183, 223, 0.925)
    );
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.property-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

/*Pictures of properties*/
.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 400px;
}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.thumbnails img{
    width: 80px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.floorplan{
    display:block;
    width: 100%;
    max-width: 100%;
}

/* Pressable tabs */
.tabs {
    display:flex;
    gap: 10px;
}

.tabs button {
    background: rgb(78, 130, 219);
    cursor: pointer;
    padding: 10px 15px;
    border: 1px solid #000;
}

.tabs button:hover {
    background: rgb(72, 122, 207);
}

.tab-content{
    max-width: 100%;
    overflow-x: hidden;
}

/*Responsiveness*/
@media (max-width: 768px) {
  .thumbnails {
    flex-wrap: wrap;
  }

  .main-image {
    max-height: 300px;
  }
}